* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: rgb(81, 105, 228);
  font-family: Geneva, Tahoma, sans-serif;
  color: #fff;
}

h3 {
  margin-bottom: 20px;
  text-align: center;
}

.generator-container {
  padding: 20px;
  width: 350px;
  background-color: rgb(87, 159, 198);
  color: black;
  box-shadow: 0px 10px 12px 3px rgba(0, 0, 0, 0.25);
}

.result-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 100%;
  margin-bottom: 20px;
  font-size: 16px;
  color: white;
  gap: 5px;
}

.result-container #result {
  width: 85%;
  height: 42px;
  padding: 10px;
  background-color: #4a4b4b;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  
}

#clipboard {
  background-color: #ffc107;
  border: none;
  color: black;
  font-size: 18px;
  height: 42px;
  width: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.password-length {
  margin: 10px 0;
  justify-content: space-between;
  display: flex;
}

.password-length input {
  width: 130px;
}

.option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

.options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
  margin-bottom: 10px;
}

#generate-password {
    display: block;
    padding: 8px 12px;
    width: 100%;
    border: none;
    background-color: #5050ae;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}
